.content {
    padding: 3rem 10rem;
    margin: 5rem 0;
    display: flex;
    justify-content: center;
    width: 100%;
    transition: var(--trans);

    .cards {



        .card {
            // width: 100%;
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            color: var(--grey-6);
            box-shadow: var(--bx-sh-card);
            padding: 20px;
            margin-bottom: 4rem;
            border-radius: 30px;
            transition: var(--trans);
            animation: fadeup 1s 1s ease forwards;
            opacity: 0;

            @keyframes fadeup {
                0% {
                    transform: translateY(50px);
                }

                100% {
                    opacity: 1;
                }
            }

            &:nth-child(2) {
                animation-delay: 1.5s;
            }

            &:nth-child(3) {
                animation-delay: 2s;
            }

            .word {
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                transition: var(--trans);

                h2 {
                    font: 600 1.3rem poppins;
                    margin-bottom: 1rem;
                }

                p {
                    color: var(--grey);
                    font: 400 18px open sans;
                }
            }

            .image {

                img {
                    width: 50%;
                }
            }

            .left-img {
                width: 100%;
                text-align: right;

                img {
                    width: 50%;
                }
            }

            @media (max-width:1075px) {
                .word {
                    width: 100%;
                }

            }

            @media (max-width:866px) {

                .word {
                    h2 {
                        font-size: 1rem;
                    }

                    p {
                        font-size: 13px;
                    }
                }
            }

        }

        @media (max-width:800px) {

            .card {

                flex-direction: column-reverse;
                justify-content: center;
                align-items: center;


                .word {
                    margin-top: 4rem;
                    text-align: center;

                    h2 {
                        font-size: 1.7rem;
                    }

                    p {
                        font-size: 18px;
                    }
                }

                .image {
                    display: flex;
                    justify-content: center;
                }
            }

            .card-2 {
                display: flex;
                flex-direction: column;
            }


        }
    }

    @media (max-width:1234px) {
        padding: 3rem 5rem;
    }

    @media (max-width:800px) {
        padding: 3rem 2rem;
    }

}