.footer {
    background: var(--grey-6);
    margin-top: 17rem;
    padding: 4rem 0;

    .card {
        display: flex;
        justify-content: center;
        width: 100%;
        position: relative;
        text-align: center;

        .overflow {
            border-radius: 20px;
            background: var(--grey-1);
            width: 50%;
            position: absolute;
            bottom: -20px;
            padding: 3rem 0;
            transition: var(--trans);

            h2 {
                margin: 1.3rem 0;
                font-weight: 600;
                font-size: 1.7rem;
            }

            button {
                font-size: 1.3rem;
            }

            @media (max-width:1200px) {
                width: 60%;
            }

        }
    }

    .cards-footer {
        position: relative;
        margin-top: 4rem;
        display: grid;
        grid-template-columns: auto auto auto auto;
        place-items: center;
        color: var(--grey-2);

        .item {
            position: relative;

            font: 400 13px open sans;

            a {
                color: var(--grey-2);

            }

            &:nth-child(1) {
                width: 300px;

                img {
                    height: 35px;
                    margin-bottom: 2rem;
                    position: relative;
                    left: -27px;


                }

                .icon {
                    position: absolute;
                    left: -27px;
                    margin-top: 3px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: var(--grey-1);
                }

                p {
                    margin-bottom: 1rem;
                }

            }

            &:nth-child(2),
            &:nth-child(3) {
                ul {
                    margin-top: 2rem;
                    font: 400 14px open sans;
                }

                li {
                    padding-bottom: 1rem;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            &:last-child {

                // margin-right: 6rem;
                ul {
                    display: inline-flex;
                    transform: translateY(-25px);


                    li {
                        transition: var(--trans);
                        color: var(--grey-1);
                        margin-right: 10px;
                        width: 30px;
                        height: 30px;
                        border: 1px solid var(--grey-1);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 50%;
                        font-size: .8rem;
                        position: relative;




                        &:hover,
                        &:active {

                            color: var(--pink);
                            border: 1px solid var(--pink);

                        }
                    }
                }
            }
        }
    }

    .copyright {
        width: 100%;
        margin-top: 4rem;

        .words {
            text-align: right;
            // margin-right: 2rem;
            font: 400 14px poppins;
            color: var(--grey-2);
            transition: var(--trans);

            p {
                padding-right: 2rem;
            }

            @media (max-width: 1000px) {
                p {
                    font-size: 12px;
                }
            }
        }
    }

    ul li {
        cursor: pointer;
    }

    @media (max-width:600px) {
        .card {
            .overflow {
                width: 93%;

                h2 {
                    font-size: 1.3rem;
                }

                button {
                    font-size: 1rem;
                }
            }
        }

        .cards-footer {

            place-items: start;
            grid-template-columns: auto;
            padding-left: 2rem;

            .item {
                &:first-child {
                    
                    margin-left: 2rem;
                    padding-right: 40px;
                }

                &:last-child {
                    margin-top: 2rem;
                    width: 100%;
                    ul{
                        display: flex;
                        justify-content: center;
                        
                    }

                }

                
            }
        }

        .copyright {
            margin-top: 10px !important;
            .words {
                text-align: center;
            }
        }
    }

}